
.nav {
  background-color: #0077B6;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 60px;
}

.Parte_inicial {
  font-size: 24px;
  font-weight: bold;
}

.Parte_inicial-2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
}

.Parte_inicial-2 li {
  margin-right: 20px;
}

.Parte_inicial-2 li a {
  color: white;
  text-decoration: none;
  font-size: 18px; 
}
@media (max-width: 768px) {
  .Parte_inicial-2 {
    display: none;
  }
}
